:root {
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --logo-text-clr: #283049;
    --body-text-clr: #676c7e;

    --search-icon-clr: #5a71e4;
    --search-placeholder-text-clr: #9b9eac;
}

/* GLOBAL */
/* .body-text {
    color: var(--body-text-clr);
} */

/* .logo-text {
    color: var(--logo-text-clr);
} */

/* Header */

/* .search-results-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
} */

/* Input */

/* .search-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.5px;

    color: var(--body-text-clr);
}

.search-input::placeholder {
    color: var(--search-placeholder-text-clr);
} */

/* Table */

/* .table-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
} */

/* .table-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.25px;
} */
